<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <h1>About "Will i get scammed when im older?"
    <h1>This game was purely built to help try and trick the younger auidence especailly since more youth make fun of older people for falling for AI</h1>
    <h2>will you become a victim to AI?</h2>

    <div id="mypic">
    <img src="https://i.pinimg.com/736x/41/ba/d5/41bad5ef1b190a56b48e5ef4ee5ac2a5.jpg" height="300px" width="400"/>
    </div>

    <div class="centerb">
        <a class="btn btn-primary" href="start.html" role="button">Start</a>
    </div>

</body>
</html>